* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    overflow: hidden;
    background: url(./assets/dark\ leaves.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.score-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    top: 10px;
    width: 100%;
}

.score {
    color: white;
    font-size: 40px;
}

.score-container h3 {
    color: white;
    font-size: 2em;
    padding: 0 20px;
}

#main-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border: 5px solid white;
    height: 800px;
    width: 100vw;
    margin-top: 100px;
    overflow: hidden;
    padding: 0;
    position: relative;
}

.ball {
    background-color: white;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.player {
    background-color: white;
    width: 10px;
    height: 110px;
    position: relative;
}
